name: GitHub Actions Demo

on:
  push:
    branches: [ main ]
    paths-ignore: [.github/**]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '15 6 * * 0' 
  workflow_dispatch: 

jobs:
  Build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
    
      - name: Trigger Event
        run: echo "The job was triggered by event:${{ github.event_name }}"

      - name: Branch
        run: echo "The name of your branch is ${{ github.ref }} and your repository is ."

      - name: List Files
        run: |
          echo "The repository ${{ github.repository }} contains the following files:"
          tree
